/* -------------------------------------- MEDIA QUERY ----------------------------------------------- */

@media screen and (max-width: 800px) {

.buttonescu {
    font-size: 2.0rem !important;
}

#slide1, #slide2, #slide3 {
    height: 350px !important;
}

#nav-bar ul {
    visibility: hidden;
}

#hide-menu {
    visibility: visible !important;
}

header ul {
    line-height: 2px;
    padding: 10px;
    font-size: 1vh;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: 2vh;
    }

.short-text {
    visibility: visible !important;
    color: white;
    position: absolute;
    width: 30vh;
    margin: 16vh auto;
    margin-left: -32vh;
}
.carousel-caption {
    visibility: hidden;
    width: 100%;
}

#parent-container {
    visibility: hidden;
}
}
/* -------------------------------------- MAIN CONTENT----------------------------------------------- */

html {
    margin:0;
    scroll-behavior: smooth;
}
body {
     overflow-x: hidden;
     background: #08070d !important;
     margin: 0;
     font-family: Arial, sans-serif;
}

header  {
    background: #08070d;
    padding-top: 10px;
    padding-left: 5px;
}

li {
    display: inline-block !important;
}

ul {
    color: white;
    list-style-type: none ;
    text-align: center ;
    margin-top: -50px !important;
    font-size: 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px ;
    text-decoration: none !important;
  }

li a:hover {
    color: tomato !important;
}


header img {
    width: 120px;
    margin-top: 2px;
}

/* -------------------------------------- HAMBURGER ----------------------------------------------- */

#hide-menu {
    visibility: hidden;
}

#menuToggle
{
  display: block;
  position: relative;
  top: -110px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: tomato;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 260px;
  margin: -100px 0 0 -50px;
  padding: 100px;
  padding-top: 10px;
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 1.4vh;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
/* -------------------------------------- END HAMBURGER ----------------------------------------------- */

.item img {
    border-bottom: 1px solid white;
    filter: brightness(50%);
}

.carousel-caption {
    padding: 300px !important;
    text-align: left !important;
}

.carousel-caption p {
    font-weight: bold;
    font-family: monospace;
}

.short-text {
    visibility: hidden;
}

.about-us {
    position: relative;
    font-family: monospace;
}

.about-us h1 {
    color: white !important;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -20vh;
    text-align: center;
    font-size: 8vh;
}

@media only screen and (max-width: 767px) {
.about-us h1 {
    top: -30vh;
}
}

#about-text2 {
    width:100%;
    overflow: hidden;
    padding: 15px;
    margin-top: 30vh;
    color: white;
    line-height: 2.3vh;
 }
 #one {
    width:40%;
    float:left;
 }
 #two {
    width:40%;
    float:right;
 }

 .fade-in {
     opacity: 0;
     transform: translateY(50px);
     transition: all 1s ease-out;
 }

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

 @media only screen and (max-width: 767px)
 {
     #one, #two
     {
         display: block; 
         float: none; 
         width: 100%;
         padding: 20px 0;
     }
 }

 #parent-container::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(0,0,0,0.6);
}

#artists {
    font-family: monospace;
}

#artists h1 {
    color: white !important;
    position: absolute;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 220vh;
    text-align: center;
    font-size: 8vh;
}

@media screen and (max-width: 800px) {

#artists h1 {
    font-size: 6vh;
    top: 305vh;
    width: 100%;
}
}
/* -------------------------------------- FOOTER ----------------------------------------------- */

footer {
    position:absolute;
    width:100%;
    right: 0;
    left: 0;
    height:100px;   /* Height of the footer */
    background:#08070d;
    margin-top: 600px;
    padding: 10px;
    border-top: 1px solid lightgray;
    text-align: center;
}

footer p {
    font-size: 20px;
    text-align: center;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    scale: 1.2;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    border-radius: 50%;
  }

.fa:hover {
    background: white;
}

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  
/* -------------------------------------- BUTTON ----------------------------------------------- */

.wrapperino {
    padding: 1.5rem 0;
}

.buttonescu:hover {
    text-decoration: none;
    color: black;
}

.buttonescu {
    display: inline-block;
    text-align: center;
    background: white;
    color: tomato;
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: monospace;
    font-size: 3.25rem;
    margin: 200px auto;
    margin-top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.buttonescu:before,
.buttonescu:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: white;
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.buttonescu:before {
    top: -25%;
    left: 20%;
}

.buttonescu:after {
    bottom: -25%;
    right: 20%;
}

.buttonescu:hover:before,
.buttonescu:hover:after {
    transform: none;
}